body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    background-color: #fff;
    color: #4caf50;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.option {
    flex: 1;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #e0e0e0;
}

@media (max-width: 640px) {
    #options .option {
        flex-basis: 50%; /* Two options per row for small screens */
    }
}

#result {
    font-size: 18px;
    margin-top: 20px;
}

#optionsTable {
    margin-top: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto;
}

th, td {
    border: 3px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

th:first-child,
td:first-child {
    background-color: #e0e0e0;
    border: 3px solid #c8d9c8;
}

#question-container {
    border: 2px solid #3498db;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
}

#question {
    margin-bottom: 20px;
    font-size: 20px;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.option {
    flex: 1;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

#nextQuestion {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#nextQuestion:hover {
    background-color: #fff;
    color: #4caf50;
}
